.feature-collection-main_wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   overflow: hidden;
   width: 100%;
}

.feature-collection-main_wrapper .feature-collection-item_wrap {
   padding: 32px 40px;
}

.feature-collection-main_wrapper .feature-collection_subtitle {
   display: block;
   font-size: 28px;
   font-family: var(--font-family-heading);
}

.scroll-collection-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: 100vh;
}

.scroll-collection-item .feature-collection_content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: auto;
   column-gap: 25px;
   row-gap: 20px;
   width: 100%;
}

.scroll-collection-item .feature-collection_header {
   display: flex;
   flex-direction: column;
   width: 100%;
   row-gap: 6px;
}

.scroll-collection-item .scroll-collection-title {
  font-size: 48px;
  opacity: 0.35;
  transition: opacity 0.3s ease;
}

.scroll-collection-item .scroll-collection-title a {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.scroll-collection-item .scroll-collection-title .feature-collection-btn {
   font-size: 20px;
   font-style: italic;
   letter-spacing: -0.2px;
   opacity: 0;
   visibility: hidden;
   font-weight: 500;
}

.scroll-collection-item .scroll-collection-title.active {
  opacity: 1;
}

.scroll-collection-item .scroll-collection-title.active .feature-collection-btn {
  opacity: 1;
  visibility: visible;
}

.scroll-collection-item .feature-collection_description {
   position: relative;
   margin-top: auto;
}

.scroll-collection-item .feature-collection-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none;
  max-width: 445px;
  width: 100%;
}

.scroll-collection-item .feature-collection-desc.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.feature-collection-main_wrapper .feature-collection_thumb {
   position: sticky;
   top: 0;
   overflow: hidden;
}

.feature-collection-main_wrapper .thumb-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.feature-collection-main_wrapper .thumb-image.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.feature-collection-main_wrapper .thumb-image img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}

@media (max-width: 1599px) {
   .feature-collection-main_wrapper .feature-collection-item_wrap {
      padding: 32px 20px;
   }
}

@media (max-width: 1399px) {
   .scroll-collection-item .scroll-collection-title {
      font-size: 36px;
   }
}

@media (max-width: 1199px) {
   .feature-collection-main_wrapper {
      grid-template-columns: 1fr;
   }

   .scroll-collection-item {
      min-height: initial;
   }

   .scroll-collection-item .feature-collection_content {
      margin-top: 30px;
   }

   .scroll-collection-item .feature-collection_description {
      margin-top: 110px;
   }
}

@media (max-width: 767px) {
   .scroll-collection-item .feature-collection_content {
      flex-direction: column;
      align-items: start;
   }
   .feature-collection-main_wrapper .feature-collection_subtitle {
      font-size: 20px;
   }
}

@media (max-width: 575px) {
   .scroll-collection-item .feature-collection_description {
      margin-top: 156px;
   }

   .scroll-collection-item .scroll-collection-title {
      font-size: 32px;
   }
}


